.layout {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(60px ,1fr));
    grid-template-rows: 80px 50px auto 60px;
    grid-template-areas:
    "home header other"
    "menu projects1 projects2"
    "footer footer footer"
}

header {
    background-color: #9BCCF5;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 2em;
    font-size: 1.5em;
}

.home-button {
  background-color: #9BCCF5;
  grid-area: home;
  display: flex;
  align-items: center;
  justify-content: center;
  size: 2em;
  font-size: 1.5em;
  text-decoration: none;
}

.other {
  background-color: #9BCCF5;
}

.menu {
  background-color: #C3FD57;
  grid-area: menu;
  align-items: center;
}

.projects1 {
    grid-area: projects1;
    background-color: white;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.projects2 {
  grid-area: projects2;
  background-color: white;
  text-align: center;
  padding: 20px 20px 20px 20px;
}
/*Projects Page */
.personal-security{
  grid-row: 2 / 6;
  display:flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}
.post {
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

/* .shark-attack{
  grid-row: 6 / 10;
  display:flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.stock-market-ml{
  grid-row: 2 / 6;
  grid-column: 2
  display:flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
} */
