
/* FONTS */
@font-face {
 font-family: YonkyBlack;
 src: url("resources/fonts/Yonky Black -Demo FFP-/Yonky-Black-demoFFP.eot") /* EOT file for IE */
}
@font-face {
 font-family: YonkyBlack;
 src: url("resources/fonts/Yonky Black -Demo FFP-/Yonky-Black-demoFFP.ttf") /* TTF file for CSS3 browsers */
}

.english{
 	font-family: Arial, Times, Helvetica;
 	font-size: 16px;
}
.default-font{
  font-family: Arial, Times, Helvetica;
}

#header{
	/*flexbox settings*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;

	/*other specifications*/
	border-bottom: solid 4px #ffd52e; /*golden yellow */
	margin-bottom: 30px;
	padding: 0 0 0 0;
	background-color: #ccebff; /*light blue*/
	/*border: solid 4px #ccebff*/
}
/*The header flex box will include the header
 "Clark Minor" in blue, as well as the brief descrption
 "Sophomore Computer Science major at UCLA" The UCLA will
 be a vector graphic.*/

h1.blue, h1.black{
	/*color: #0047b3;*/
	font-family: YonkyBlack, Arial;
	font-weight: lighter;
	padding: 0px 0px 0px 20px;
	background-color: none;
}
h1.blue{
  color: #0047b3;
}
h1.black{
  color: black;
}
h2{
  font-family: Arial, Times, Helvetica;
}
h3{
  font-family: Arial, Times, Helvetica;
}

#description {
		width: 400px;
	  line-height: 40px;
		font-weight: bold;

		/*UCLA graphic*/
	  background-image: url("resources/images/ucla-vector.png");
	  background-size: 50px;
		background-position: 303px 2px;
	  background-repeat: no-repeat;
		background-color: none;
}

/*TODO
1) make .blue class with unique font *DONE*
2) make .english class for all other text on page *DONE*
3) make a list (without bullets) of my favorite websites
4) make input box with some kind of meaningful action
5) make the .arrow class follow the picture of Callen
6) put the list of "Things I'm about" in a centered flexbox
7) put "Clark is cool" and "Callen is a fool" above the respective pictures *DONE*
8) rename this branch to something meaningful
9) insert a video with the <iframe> tag *DONE*
10) insert picture link to my Instagram
*/

/*Clark vs. Callen Section */
/*Layout: Two Vertical Flex Boxes inside of a horizontal flexbox.
Clark's Column:
	-"Clark is Cool"
	-my photo
	-"Things I'm about"
	-My fav song's playlist
Callen's Column:
	-"Callen is a fool"
	-Callen's photo
	-Callen's fav songs playlist
  -"Things Callen's About" list
    -Fucking with the vision
    -linking up
    -building
*/

#clark-vs-callen-horizontal{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
  border-bottom:
  solid 4px #ffd52e;
	/*background-color: lightblue;*/
}

.vertical-column{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: nowrap;
  align-items:center;
  /*background-color: lightgreen;*/
}

#clark-cool , #callen-fool{
			height: 300px;
			width: 300px;
			text-align: center;
			line-height: 0px;
			background-size: 150px;
			background-repeat: no-repeat;
			background-position: center;
			background-position-y: 25px;
			/*background-color: lightyellow;*/
			/*border: dotted 2px #ffd52e;*/
}

#clark-cool{
	background-image: url("resources/images/clark-cool.JPG");
}

#callen-fool {
	background-image: url("resources/images/callen-fool.JPG");
}

.video {
  position: relative;
  width: 400px;
  flex-shrink: 0;
  height: 0;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.links-we-like {
	/*background-color: red;*/
	overflow: auto;
  width: 400px;
  background-color: none;
}

#title {
  float: left;
}

#links {
  display: inline;
  float: right;
  padding-top: 15px;
  line-height: 25px;
}

.fav-songs-title{
  display: flex;
}
.fav-songs-text{
}
.lighted-arrow-left{
	float: left;
}
.lighted-arrow-right{
	float: right;
}

img{
	margin: 10px;
}

.align-vertical > ul{
		display: inline-block;
		color: black;
}

.align-vertical > h3{
		display: inline-block;
		color: black;
}

span.inputbox{
	cursor: text;
}
