.layout {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 120px auto 120px;
    grid-template-columns: 200px auto auto auto;
    grid-template-areas:
    "other header header header"
    "menu skate comedy piano"
    "footer footer footer footer";

}

html, body {
  background-color: #ffea80;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: 'Titillium Web', sans-serif;
}


header {
    background-color: #9BCCF5;
    size: 2em;
    grid-area: header;
    text-align: center;
}

.other {
    background-color: #9BCCF5;
    grid-area: other;
  }

.closer {
  margin-top: -20px;
}

.menu {
  background-color: #C3FD57;
  grid-area: menu;
  align-items: center;
}
ul{
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
li a{
  text-decoration: none;
  text-align: center;
  display: block;
  color: #4d4d4d;
  padding: 0;
  margin: -20;
}

a.menu-item:hover{
 background-color: #ffea80;
}

footer {
    background-color: #b9daf9;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


.icons{
  display: block;
  margin: 1em;
  width: 29px;
}

.skate {
    grid-area: skate;
    background-color: white;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.comedy {
  grid-area: comedy;
  background-color: white;
  text-align: center;
  padding: 20px 20px 20px 20px;
}
.piano {
  grid-area: piano;
  background-color: white;
  text-align: center;
  padding: 20px 20px 20px 20px;
}
